@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --primary-color: #EF4444;
    --dark-gray: #6B7280;
    --off-white: #F3F4F6;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

hr {
    margin: 2rem 0rem;
}

.container{
    padding: 0rem 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .nav-pills{
    text-align: right;
}

.navigation .link{
    color: white;
}

.navigation .link-active{
    font-weight: bold;
}

.girl{
    padding: 2rem;
    text-align: center;
}
.girl .girl-img{
    max-width: 350px;
    display: block;
    margin: auto;
}

.girl .girl-heading{
    color: var(--dark-gray);
    padding-top: 1rem;
}

.girl .girl-heading .heading-inverter{
    color: var(--primary-color);
}

.section{
    padding: 2rem;
}

.section h1{
    text-align: center;
}

.ow{
    background-color: var(--off-white);
}

.footer{
    background-color: var(--primary-color);
    padding: 2rem 0rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link{
    color: white;
}

.footer .footer-heading{
    font-weight: bold;
    font-size: large;
}

.footer ul{
    padding-inline-start: 0px;
}